<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
<div class="contents row">
  <% @mypages.each do |mypage| %>
    <%= render partial: "mypage", locals: { mypage: mypage } %>
  <% end %>
</div>
</div>
</div>
</div>
